.dropdown {
  .badgeBox {
    border: 1px solid #22242626;
    background-color: #ffffff;
    min-height: 1.5em;
    padding: 18px 10px 10px 10px;
    border-radius: 0.3rem;
    cursor: pointer;
    height: 22px;
    overflow-y: auto;

    .label {
      color: #222222;
    }
  }

  .badgeBox.disabled {
    background-color: #f5f5f5;
    cursor: no-drop;
    > span {
      color: #bbbabb;
    }
  }

  .menu {
    border-radius: 0.3em;
    border: 1px solid #22242626;
    height: 150px;
    overflow-y: auto;
    position: relative;
    background-color: #ffffff;
    z-index: 2;

    > .item {
      height: 2em;
      cursor: pointer;
      padding: 0.3em 1em 0.3em 1em;
    }

    > .item:hover {
      background-color: #e8e8e8;
    }
  }
}
