.dropdown {
  .badgeBox {
    border: 1px solid #22242626;
    background-color: #ffffff;
    min-height: 1.5em;
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    height: 22px;
    overflow-y: auto;

    .label {
      color: #22242626;
    }
  }

  .menu {
    border-radius: 0.3em;
    border: 1px solid #22242626;
    max-height: 8em;
    overflow-y: scroll;
    position: relative;
    background-color: #ffffff;

    > .item {
      height: 2em;
      cursor: pointer;
      padding: 0.3em 1em 0.3em 1em;
    }

    > .item:hover {
      background-color: #e8e8e8;
    }
  }
}

.badge {
  background-color: #e8e8e8;
  border-radius: 0.2em;
  color: #00000099;
  padding: 0.1em 0.3em 0.1em 0.3em;
  margin: 0 0.5em 0.5em 0;
  display: inline-block;

  .remove {
    font-size: 0.8em;
    cursor: pointer;
  }
}
